.advantages-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 83px 60px 113px;
  margin: 0 auto;
  max-width: 1440px;

  @media (max-width: 767px) {
    max-width: 390px;
    flex-direction: column;
    padding: 72px 16px 83px;
  }
}

.advantages-list-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 248px;

  @media (max-width: 767px) {
    flex-direction: column;
    margin-left: 0;
  }
}

.advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-block: 0;
  padding-inline: 0;

  @media (max-width: 767px) {
    flex-direction: column;
    margin-top: 36px;
    gap: 24px;
  }
}

.advantages-item {
  width: 426px;
  padding-right: 18px;

  @media (max-width: 767px) {
    width: 358px;
    padding-right: 0;
  }
}

.advantages-description {
  margin: 0;
}

.facts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 65px;
  gap: 36px;

  @media (max-width: 767px) {
    display: grid;
    grid-template-columns: repeat(2, 161px);
    margin-top: 72px;
  }
}

.fact-describe {
  margin: 0;
}

.fact-comment {
  margin: 0;
}