.hero {
  display: flex;
  margin: 0 auto;
  padding: 0 60px;

  @media (max-width: 767px) {
    padding: 0 16px;
  }
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 90px 0 168px;
  border-bottom: 1px solid rgba(26, 26, 26, 0.3);
  width: 1320px;

  @media (max-width: 767px) {
    width: 358px;
    padding: 48px 0 72px;
  }
}

.hero-title {
  display: flex;
  flex-direction: column;
}

.title-love-wrapper {
  margin-left: 112px;

  @media (max-width: 767px) {
    margin-left: 0;
  }
}

.title-word-actually {
  @media (max-width: 767px) {
    display: none;
  }
}

.title-work-wrapper {
  margin-left: 112px;

  @media (max-width: 767px) {
    margin-left: 0;
  }
}

.hero-information-wrapper {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 margin-top: 90px;

  @media (max-width: 767px) {
    flex-direction: column;
    margin-top: 24px;
  }
}

.hero-information {
  margin-block: 0;
  font-size: 32px;
  line-height: 42px;
  max-width: 762px;
  margin-right: 111px;

  @media (max-width: 767px) {
    font-size: 20px;
    line-height: 28px;
    margin-right: 0;
    padding-right: 10px;
  }
}

.hero-link-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 256px;
  gap: 28px;

  @media (max-width: 767px) {
    max-width: 358px;
    margin-top: 72px;
  }
}

.hero-link {
  margin-left: 20px;

  @media (max-width: 767px) {
    margin-left: 115px;
  }  
}

.typed-text {
  color: #ff4c7c;
  margin-left: 659px;

  @media (max-width: 767px) {
    margin-left: 0;
  }
}

.typed-cursor {
  font-family: "Manrope", sans-serif;
}
