.page-casestudies {
  scroll-padding: 96px;

  @media (max-width: 767px) {
    scroll-padding: 195px;
  }  
}

.main-cases {
  min-width: 320px;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  margin: 0 auto;
}

.main-cases-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;

  @media (max-width: 767px) {
    max-width: 390px;
  }
}

.wrapper-scroll {
  scroll-padding: 195px;
}

.cases-title {
  display: block;
  min-height: 302px;
  padding: 87px 0 0 0;
  margin: 0 60px 0 60px;
  border-bottom: 1px solid rgba(26, 26, 26, 0.3);
  margin-top: 96px;

  @media (max-width: 767px) {
    max-width: 390px;
    min-height: 144px;
    max-height: 144px;
    padding: 48px 0;
    margin: 0 16px;
    margin-top: 72px;
  }
}

.title-gray {
  color: rgba(26, 26, 26, 0.3);
}

.cases-sections-wrapper {
  display: flex;
  flex-direction: row;
  padding: 74px 60px 0 60px;
  overflow: hidden;
  position: relative;

  @media (max-width: 767px) {
    flex-direction: column;
    padding: 0 0 10px 0;
  }
}

.cases-names {
  @media (max-width: 767px) {
    position: sticky;
    top: -50px;
    overflow-x: auto;
    border-bottom: 1px solid rgba(26, 26, 26, 0.3);
    margin: 0 16px;
    scrollbar-width: none;
    scroll-behavior: smooth;
  }
}

.cases-names::-webkit-scrollbar {
  display: none;
}

.cases-name-list {
  display: flex;
  flex-direction: column;
  margin-block: 0;
  padding-inline: 0;
  min-width: 335px;
  width: 335px;
  gap: 28px;
  margin-top: 10px;

  @media (max-width: 767px) {
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 100%;
    width: 1600px;
    min-height: 120px;
    padding: 24px 0;
    gap: 16px;
    margin-top: 0;
    scroll-behavior: smooth;
  }
}

.cases-name {
  text-decoration: none;
  color: rgba(26, 26, 26, 0.3);
  margin: 0;
  max-width: 315px;
  
  @media (max-width: 767px) {
    min-width: 208px;
    max-width: 226px;
    max-height: 72px;
  } 

  &:hover {
    color: #1a1a1a;
  }
}

.cases-name.active-name {
  color: #1a1a1a;
}

.name-big {
  @media (max-width: 767px) {
    min-width: 226px;
    }
}

.cases-sections-container {
  display: flex;
  flex-direction: column;
  min-width: 985px;
  gap: 74px;
  height: calc(150vh - 96px - 74px - 108px);
  overflow-y: auto;
  position: relative;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;

  
  @media (max-width: 767px) {
    min-width: 374px;
    gap: 72px;
    padding: 0 16px 0 16px;
  }
}

.cases-sections-container::-webkit-scrollbar {
  display: none;
}

.cases-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 68px;
  margin: 0 0 0 112px;
  padding-bottom: 150px;

  @media (max-width: 767px) {
    gap: 48px;
    padding-bottom: 72px;
    padding-top: 72px;
    margin: 0;
  }
}

.wrapper-padding {
  padding-bottom: 128px;

  @media (max-width: 767px) {
    padding-bottom: 72px;
  }

  &--small {
    padding-bottom: 115px;

    @media (max-width: 767px) {
      padding-bottom: 72px;
    }
  }

  &--big {
    @media (max-width: 767px) {
      padding-bottom: 85px;
    }
  }
}

.cases-section-border {
  border-bottom: 1px solid rgba(26, 26, 26, 0.3);
}

.cases-sections-container,
.cases-section {
  scroll-behavior: smooth;
}

.cases-section-title {
  max-width: 781px;
  padding-right: 30px;

  @media (max-width: 767px) {
    max-width: 358px;
    min-height: 144px;
    padding-right: 0;
  }
}

.cases-section-description {
  margin: 0;
}

.cases-section-list {
  margin-block: 0;
  padding-inline: 0;
  display: grid;
  grid-template-columns: repeat(2, 426px);
  grid-template-rows: repeat(2, auto);
  gap: 48px 20px;
  margin-top: 10px;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 0;
  }
}

.cases-section-item {
  display: flex;
  flex-direction: column;
  gap: 22px;

  @media (max-width: 767px) {
    gap: 12px;
  }
}

.cases-section-title-above {
  padding-right: 120px;

  @media (max-width: 767px) {
    padding-right: 0;
  }
}

.cases-section-above-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-right: 30px;

  @media (max-width: 767px) {
    padding-right: 0;
  }
}

.cases-section-title-padding {
  @media (max-width: 767px) {
    padding-right: 30px;
  }
}

.cases-section-above {
  margin: 0;
}

.cases-section-above-padding {
  @media (max-width: 767px) {
    padding-right: 30px;
  }
}