.main-footer {
  background-color: #1a1a1a;
}

.footer-wrapper {
  min-height: 672px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #fcfcfc;
  max-width: 1440;
  margin: 0 auto;

  @media (max-width: 767px) {
    max-width: 390px;
    padding: 0 16px;
  }
}

.footer-application {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 150px 30px 65px;

  @media (max-width: 767px) {
    flex-direction: column;
    padding: 72px 0 0 0;
    gap: 24px;
  }
}

.application-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 550px;
  margin-left: 148px;
  margin-top: 18px;

  @media (max-width: 767px) {
    width: 358px;
    margin-left: 0;
    margin-top: 0;
  }
}

.application-information {
  display: block;
  margin: 0;
  font-size: 32px;
  line-height: 42px;
  padding-bottom: 42px;

  @media (max-width: 767px) {
    font-size: 20px;
    line-height: 28px;
  }
}

.application-title {
  display: flex;
  flex-direction: column;
}

.title-pink {
  color: #ff4c7c;
}

.contacts-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 65px 30px 56px;
  margin-top: 66px;

  @media (max-width: 767px) {
    padding: 0;
    margin-top: 111px;
    gap: 104px;
  }
}

.footer-logo-wrapper {
  width: 92px;
  height: 28px;

  @media (max-width: 767px) {
    width: 79px;
    height: 24px;
  }
}

.footer-logo-icon {
  @media (max-width: 767px) {
    width: 79px;
    height: 24px;
  }
}

.footer-contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 378px;

  @media (max-width: 767px) {
    flex-direction: column;
    margin-left: 0;
    gap: 24px;
  } 
}

.footer-contacts-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding-inline-start: 0;

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 24px;
    }
}

.footer-contacts-phone {
  text-decoration: none;
  padding-right: 43px;
}

.footer-social-link {
  display: block;
  width: 28px;
  height: 28px;
  padding: 3px 7px ;
  margin-left: 448px;

  @media (max-width: 767px) {
    margin-left: 0;
    width: 24px;
    height: 24px;
    padding: 0;
  }
}

.footer-icon {
  @media (max-width: 767px) {
    width: 24px;
    height: 24px;
  }
}