.main-header {
  min-width: 390px;
  width: 100%;
  height: 96px;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  margin: 0 auto;

  @media (max-width: 767px) {
    max-width: 390px;
    height: 72px;
  }
}

.header-wrapper {
  width: 100%;
  max-width: 1440px;
  height: 96px;
  padding: 17px 30px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;

  @media (max-width: 767px) {
    min-width: 390px;
    max-width: 390px;
    height: 72px;
    padding: 0;
  }
}

.main-header-logo {
  width: 152px;
  height: 62px;
  padding: 17px 30px;
  margin-right: 100px;

  @media (max-width: 767px) {
    width: 116px;
    height: 72px;
    padding: 24px 16px;
    margin-right: 211px;
  }
}

.header-logo-icon {
  @media (max-width: 767px) {
    width: 84px;
    height: 24px;
  }
}


.header-modal {
  width: 381px;
  height: 62px;
  padding: 17px 0 17px 135px;
  margin-left: 30px;

  @media (max-width: 767px) {
    display: none;
  }
}