.main-contacts {
  min-width: 390px;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  margin: 0 auto;

  @media (max-width: 767px) {
    max-width: 390px;
  }
}

.main-contacts-wrapper {
  width: 100%;
  max-width: 1440px;
  padding: clamp(20px, 1vh, 145px) 60px clamp(30px, 6vh, 86px);
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
  position: relative;
  max-height: calc(100vh - 96px);
  overflow-y: hidden;
  
  @media (max-width: 767px) {
    min-width: 390px;
    max-width: 390px;
    padding: 72px 16px 56px;
    gap: 24px;
    overflow-y: auto;
    max-height: calc(100vh - 72px);
  }
}

.main-contacts-wrapper::before {
  position: absolute;
  content: "";
  display: block;
  width: 428px;
  height: 535px;
  background-image: url("../images/pictures/photo@2x.jpg");
  background-size: cover;
  background-position: center;
  bottom: 16px;
  right: 60px;

  @media (max-width: 767px) {
    width: 228px;
    height: 288px;
    right: 16px;
    bottom: -90px;
    background-image: url("../images/pictures/photo.jpg");
  }
}

.contacts-title {
  max-width: 624px;
  font-size: clamp(48px, 8vw + 1rem, 88px);
  line-height: clamp(56px, 9.5vw + 1.2rem, 101px);

}

.contacts-information {
  max-width: 557px;
  margin: 0;
  font-size: 32px;
  font-size: clamp(16px, 2.5vw, 32px);
  line-height: clamp(24px, 3.5vw, 42px);

  @media (max-width: 767px) {
    font-size: 20px;
    line-height: 28px;
    padding-right: 0;
  }
}

.main-contacts-list {
  margin-block: 0;
  padding-inline: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: clamp(40px, 12vh, 166px);

  @media (max-width: 767px) {
    margin-top: 324px;
    gap: 4px;
  }
}

.main-contacts-name {
  margin: 0 0 10px 0;

  @media (max-width: 767px) {
    margin: 0 0 4px 0;
  }
}


