*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

ul { 
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 170px;
}
